@import "tailwindcss";

html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.sidebar-slide {
  transition: translate 1200ms cubic-bezier(0.22, 1, 0.36, 1);
}
